
/*  FOOTER  ---------------------------------------------------------------------*/
.footer{
	text-transform: capitalize;
	background-color: #070707;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-top:0px;
	font: bold 14px sans-serif;
	height:380px;
	
	background-image: url("images/about/fig4.jpeg");

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

.footer_container{
	width:100%;
    
	background-color: rgba(0,0,0,0.7);
}

.footer #title{
	background-color: none;
	color:black	;
	text-align: center;
	font-family: Garamond;
	color: white;
	background-color: black;
	padding: 1px;
	font-size:20px;
	margin-top: 35px;
}
 
.footer .footer-1,
.footer .footer-2,
.footer .footer-3,
.footer .footer-4{
	display: inline-block;
	vertical-align: top;
	margin: 8px;
}
 
.footer h3{
	color: white;
}
.footer a{
	color: rgb(51,153,51);
	text-decoration: none;
}
a:hover{
	color: yellow;
}

.footer .footer-1 .latest{
	color: white;
}

.footer .footer-2 .links{
	margin: 30px 0 12px;
	padding: 0;
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}

.footer .footer-3 .company{
	color: grey;
	font-size:12px;
	line-height:1;
	margin-left: 10px: 
}
  
.footer .footer-3 p{
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}
 
.footer .footer-4 .footer-icons{
	margin-top: 15px;
}

.footer .footer-4 .footer-icons  p {
 	margin-left:45px;
 	margin-top: 15px;
 	margin-bottom: 15px;
 	color: white;
}

.footer .footer-4 .footer-icons a{
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgb(51,153,51);
	border-radius: 15px;
 
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: -42px;
}

.footer .footer-4 .footer-icons i{
	padding-top: 10px;
}

.footer .footer-4 .footer-icons i:hover{
	color: red;
}


.footer .logo{
	width: 50%;
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}
/*---------------------------------------------------------------------------------------*/
