/*
<footer class="footer">
			<div id="title">
				<h2>Find What You Want Fast</h2>
			</div>
			
		<div class="footer-1" style="width: 20%;">
			<h3>Latest From The Blog</h3>
			<div class="latest">
				<h4>Latest</h4>
				<h6>Something!!!</h6>
				<p>Text from the latest</p>
			</div>
		</div>

		<div class="footer-2" style="width: 20%;">
			<h3>Quick Links</h3>
			<div class="links">
				<a href="#">link text here </a>
					<hr>
				<a href="#">link text here </a>
					<hr>
				<a href="#">link text here </a>
					<hr>
				<a href="#">link text here </a>
					<hr>
				<a href="#">link text here </a>
					<hr>
				<a href="#">link text here </a>
					<hr>
			</div>
		</div>
 
		<div class="footer-3" style="width: 25%;">
 			<h3>Contact Us</h3>

			<div>
				<p class="company">...</p>
				<p>Street Name & Number</p>
				<p>Town</p>
				<p>Postcode/...</p><br>
			</div>
 
			<div>
				<p class="company">Tel:</p>
				<p>xxxxx xxxxxxxxxx</p><br>
			</div>
 
			<div>
				<p class="company">Fix:</p>
				<p>xxxxx xxxxxxxxxx</p><br>
			</div>

			<div>
				<address class="company">
					Email:
					<a href="#">contact@webdevtrick.com</a>
				</address>
			</div>
		</div>
 		
		<div class="footer-4" style="width: 20%;">
			<h3>Keep Up To Date</h3>
			<div class="footer-icons">			
				<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><p>Facebook</p>
					<hr>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a><p>Twitter</p>
					<hr>
				<a href="https://www.flickr.com/photos/flickr/"><i class="fa fa-photo on fliokr"></i></a><p>Photo On Flickr</p>
					<hr>
				<a href="https://github.com/"><i class="fa fa-github"></i></a><p>Github</p>
					<hr>
			</div>
		</div>
</footer>

<footer class ="copyright">
		<p id="p1"> Copyright @ 2013-All Rights Reserved-Domain </p>
		<p id="p2">Template by OS Template</p>
</footer>
*/

/*  FOOTER  ---------------------------------------------------------------------*/
.footer{
	text-transform: capitalize;
	background-color: #070707;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-top: 100px;
	font: bold 14px sans-serif;
	height:500px;
	margin-bottom: 0;
	background-image: url("images/about/fig4.jpeg");

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

.footer_container{
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.footer #title{
	background-color: none;
	color:black	;
	text-align: center;
	font-family: Garamond;
	color: white;
	background-color: black;
	padding: 2px;
}
 
.footer .footer-1,
.footer .footer-2,
.footer .footer-3,
.footer .footer-4{
	display: inline-block;
	vertical-align: top;
	margin: 8px;
}
 
.footer h3{
	color: white;
}
.footer a{
	color: rgb(51,153,51);
	text-decoration: none;
}
a:hover{
	color: yellow;
}

.footer .footer-1 .latest{
	color: white;
}

.footer .footer-2 .links{
	margin: 30px 0 12px;
	padding: 0;
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}

.footer .footer-3 .company{
	color: grey;
	font-size:12px;
	line-height:1;
	margin-left: 10px: 
}
  
.footer .footer-3 p{
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}
 
.footer .footer-4 .footer-icons{
	margin-top: 25px;
}

.footer .footer-4 .footer-icons  p {
 	margin-left:45px;
 	margin-top: 20px;
 	margin-bottom: 15px;
 	color: white;
}

.footer .footer-4 .footer-icons a{
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgb(51,153,51);
	border-radius: 15px;
 
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: -42px;
}

.footer .footer-4 .footer-icons i{
	padding-top: 10px;
}

.footer .footer-4 .footer-icons i:hover{
	color: yellow;
}


.footer .logo{
	width: 50%;
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}
/*---------------------------------------------------------------------------------------*/
