header{
	background-color: #281E33;
	width: 100%;
    position: fixed;
	font-family:Garamond;
	height: 100px;
	z-index:100;
	margin-left: -10px;
	margin-top: -10px;
}

#title{
	color: white;
	font-family:Garamond;
	font-size:60px;
    padding-left:5px;
    padding-top:5px;
    margin: 10px;
  
}


/*  NAV  -------------------------*/
.nav{
	margin-left:600px;
	margin-top:-60px;
}
ul{
	list-style-type: none;
	padding-bottom:50px;
	margin:0;
	margin-bottom: 10px;
}

ul li {

	padding:2px;
	float:left;
	font-size: 20px;
	line-height: auto;
	text-align: center;
	width: 110px; 
	height: auto;
}

ul li a{

    font-size: 30px;
    padding: 2px;
	display: block;
	color:white;
	text-align:center;
	text-decoration: none;
	background-color:#381857;
	border-radius: 10px;
}

ul li a:hover{
	background-color:#510D96;
	color: white;
}

ul li ul{
	padding: 0px;
}

ul li ul li{
	display: none;
	position: relative;	
}

ul li:hover ul li{
	display: block;
	transition: 1s all;
	animation: drop 1s ease;
}

@keyframes drop{
	0%{
		transform: scale(2,2)rotateX(90deg);
	}
	100%{
		transform: scale(1,1)rotateX(0deg);
	}
}


