@media only screen and (max-width: 1045px) {

.libero p {
	background-color:#0B0B5A;
	font-size: 12;
	text-align: center;
	color:#7F0808;
 	padding:0px 6px 6px 6px;
 	border-top-left-radius: 6px;
 	border-top-right-radius: 6px;
 	margin-left: 1%;
 	margin-top: 5px;
 	margin-right: 5px;
 	margin-bottom: 0px;
 	text-align: center;
}}

@media only screen and (min-width: 1045px) {
.libero p {
	background-color:#441E6A;
	
	font-size: 12;
	text-align: center;
	color:#7F0808;
 	padding:0px 6px 6px 6px;
 	border-top-left-radius: 6px;
 	border-top-right-radius: 6px;
 	margin-left: 65%;
 	margin-top: 5px;
 	margin-right: 5px;
 	margin-bottom: 0px;
 	text-align: center;
}}

.libero p a{
	color: white;
	font-family: calibri;
	padding: 4px 16px;
}
/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*  SECTION  (1 IMAGE)--------------------------------------------------------------*/
.section{
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	margin-top:80px;
}

@media(max-width: 700px){
	.section{
		width: 100%;
	}
}

.article{
	width: auto;
	height: 450px;
	padding-top: 7%;

}

.article img{
	width: 960px;
	height: 450px;
	float: right;
}

#readmore{
	float:right;
	font-size: 25px;
}

.imagetext{
	margin:0;

	padding:30px;
	background-color: #281E33;
	height: 450px;
}

.imagetext a {
	text-decoration: none;
	display: inline-block;	
	padding: 8px 16px;
}

.imagetext a:hover {
	background-color: #F44C1A;
	color: black;
}

.previous {
	background-color: #CD3608;
	color: black;
	cursor: pointer;
}

.next {
	background-color:#CD3608;
	color: white;
	cursor: pointer;
}

.round {
	border-radius: 50%;
}

.imagetext h1{
	font-size:30px;
	font-family: Bahnschrift Condensed;
	color: white;
}

.imagetext p{
	font-size: 15px;
	color: white;
	font-family: arial;
}

#article0{
	display: block;
}
#article1{
	display: none;
}
#article2{
	display: none;
}

#more {
	display: none;
}
#more1 {
	display: none;
}
#more2 {
	display: none;
}

/*--------------------------------------------------------------------------------*/
.deep{
	width: 100%;
	height: 20px;
	margin-top: 100px;
	background-color: #281E33;
}
* {
	box-sizing: border-box;
}

/*  COLUMN  (3 IMAGES)------------------------------------------------------------*/
.column {
    
	float: left;
    width:300px;
 	height: 150px;
 	margin-left: 75px;
 	margin-bottom: 200px;
	margin-top: 150px;
}

.column h1{
	background-color: #281E33;
	color:white;
	font-size: 45px;
	text-align: center;
	margin: auto;
}

.row::after {
	content: "";
	clear: both;
	display: table;
	height: 60px;
}

.img{
  	width:300px;
 	height: 250px;
}
/*-------------------------------------------------------------------------------*/

/*COPYRIGHT FOTER2  ----------------------------------------------------------------------*/
.copyright{
	background-color: #281E33;
	width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color:white;
}

.copyright p {
	padding-top:10;
}

.copyright #p1{
	width: 50%;
	max-width: 50%;
	display: inline-block;
	margin-top: 0px;
}

.copyright #p2{
	float: right;
	margin-top: 0px;
	text-align:right;
}
/*---------------------------------------------------------------------------------------*/

