@media only screen and (max-width: 1045px) {

.libero p {
	background-color:rgb(128, 100, 130);
	font-size: 12;
	text-align: center;
	color:#7F0808;
 	padding:0px 6px 6px 6px;
 	border-top-left-radius: 6px;
 	border-top-right-radius: 6px;
 	margin-left: 1%;
 	margin-top: 5px;
 	margin-right: 5px;
 	margin-bottom: 0px;
 	text-align: center;
}}

@media only screen and (min-width: 1045px) {
.libero p {
	background-color:rgb(128, 100, 130);
	font-size: 12;
	text-align: center;
	color:#7F0808;
 	padding:0px 6px 6px 6px;
 	border-top-left-radius: 6px;
 	border-top-right-radius: 6px;
 	margin-left: 65%;
 	margin-top: 5px;
 	margin-right: 5px;
 	margin-bottom: 0px;
 	text-align: center;
}}

.libero p a{
	color: white;
	font-family: calibri;
	padding: 4px 16px;
/*---------------------------------------------------------------------------------------*/


/*  HEADER  ---------------------------------------------------------------------------*/
}
header{
	background-color:#806482;
	width: 100%;
	font-family:Garamond;
	height: 215px;
}

h1{
	color: #10ffff;
	font-family:Brush Script MT;
	font-size:60px;
    padding-left:5px;
    padding-top:5px;
    margin: 1px;
}

h5{
	font-size:15px;
	padding-left:9px;
	padding-top:0px;
	margin: 1px 1px 55px 1px;
	color: rgb(0, 12, 51);
	font-family: cursive;
}

/*  SEARCH  -------------------*/
.search{
	margin-top:-120px;
	float: right;
	margin-right: 25px; 
}

.search input{
	padding: 7px;
	border:none;
	font-size: 16px;
	font-family: sans-serif;
}

.search button{
	float: right;
	background:rgb(0, 12, 51);
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 8px;
	font-family: sans-serif;
	border:none;
	font-size: 17px;
}
/*--------------------------------*/

/*  NAV  -------------------------*/
ul{
	list-style-type: none;
	padding-bottom:50px;
	margin:0;
}

ul li {

	padding:2px;
	float:left;
	font-size: 20px;
	line-height: auto;
	text-align: center;
	width: 150px; 
	height: auto;
}

ul li a{
    font-size: 25px;
    padding: 2px;
	display: block;
	color:white;
	text-align:center;
	text-decoration: none;
	background-color:rgba(17, 114, 134, 0.99);
	border-radius: 10px;
	font-family: Lucida Sans Unicode;
}

ul li a:hover{
	background-color:rgba(52, 142, 160, 0.99);
	color: black;
}

ul li ul{
	padding: 0px;
}

ul li ul li{
	display: none;
	position: relative;	
}

ul li:hover ul li{
	display: block;
	transition: 1s all;
	animation: drop 1s ease;
}

@keyframes drop{
	0%{
		transform: scale(2,2)rotateX(90deg);
	}
	100%{
		transform: scale(1,1)rotateX(0deg);
	}
}
/*---------------------------------------------------------------------------------*/



/*  SECTION  (1 IMAGE)--------------------------------------------------------------*/
.section{
	height: 500px;
	margin: 30px;
	margin-top:80px;
}

.article{
	width: auto;
	height: 450px;
	padding-top: 5%;
}

.article img{
	width: 960px;
	height: 450px;
	float: right;
}

#readmore{
	float:right;
	font-size: 25px;
}

.imagetext{
	margin-right: 0px;
}

.imagetext a {
	text-decoration: none;
	display: inline-block;	
	padding: 8px 16px;
}

.imagetext a:hover {
	background-color: rgba(52, 142, 160, 0.99);
	color: black;
}

.previous {
	background-color: #10ffff;
	color: #000c33;
	cursor: pointer;
}

.next {
	background-color: #000c33;
	color: #10ffff;
	cursor: pointer;
}

.round {
	border-radius: 50%;
}
.imagetext h1{
	font-size:25px;
	font-family: Lucida Sans Unicode;
	color: #a11970;
}

.imagetext p{
	font-size: 20px;
	color: white;
	font-family: Arial narrow;
	color:#f777ff;
}

#article0{
	display: block;
}
#article1{
	display: none;
}
#article2{
	display: none;
}

#more {
	display: none;
}
#more1 {
	display: none;
}
#more2 {
	display: none;
}

/*--------------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
}

/*  COLUMN  (3 IMAGES)------------------------------------------------------------*/
.column {
	float: left;
    width:300px;
 	height: 150px;
 	margin: 74px;
 	margin-bottom: 35px;
	margin-top: 35px;
}

.column h1{
	background-color: #806482;
	color:white;
	font-size: 45px;
	text-align: center;
	margin: auto;
	color: #780a10;
}

.row::after {
	content: "";
	clear: both;
	display: table;
	height: 60px;
}

.img{
  	width:300px;
 	height: 150px;
}
/*-------------------------------------------------------------------------------*/



/*  FOOTER  ---------------------------------------------------------------------*/
.footer{
	text-transform: capitalize;
	background-color: rgb(81, 68, 82);;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-top: bottom;
	font: bold 14px sans-serif;
}

.footer p{
	font-family: Shruti;
}

.footer #title{
	color: white;
	background-color: rgb(86, 51, 88);
	padding: 2px;
	font-family: Bahnschrift Light Condensed;
}
 
.footer .footer-1,
.footer .footer-2,
.footer .footer-3,
.footer .footer-4{
	display: inline-block;
	vertical-align: top;
	margin: 8px;
}
 
.footer h2{
	color: white;
	font-family: Malgun Gothic;
}

a:hover{
	color:rgb(70, 130, 180);
}

.footer .footer-1 .latest{
	color: white;
}

.footer .footer-2 .links{
	margin: 30px 0 12px;
	padding: 0;
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}

.footer .footer-3 .company{
	color: grey;
	font-size:12px;
	line-height:1;
	margin-left: 10px: 
}
  
.footer .footer-3 p{
	color: white;
	margin:0;
	font-size:14px;
	line-height:1;
}
 
.footer .footer-4 .footer-icons{
	margin-top: 25px;
}

.footer .footer-4 .footer-icons  p {
 	margin-left:45px;
 	margin-top: 20px;
 	margin-bottom: 15px;
 	color: white;
}

.footer .footer-4 .footer-icons a{
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgb(95, 23, 27);
	border-radius: 15px;
 
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: -42px;
}

.footer .footer-4 .footer-icons i{
	padding-top: 10px;
}

.footer .footer-4 .footer-icons i:hover{
	color: rgb(70, 130, 180);
}
/*---------------------------------------------------------------------------------------*/



/*COPYRIGHT FOTER2  ----------------------------------------------------------------------*/
.copyright{
	background-color: rgb(86, 51, 88);
	width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.copyright p {
	padding-top:10;
}

.copyright #p1{
	width: 50%;
	max-width: 50%;
	display: inline-block;
	margin-top: 0px;
}

.copyright #p2{
	float: right;
	margin-top: 0px;
	text-align:right;
}
/*---------------------------------------------------------------------------------------*/
