@media only screen and (min-width: 1045px) {
/*  SECTION  (1 IMAGE)--------------------------------------------------------------*/

#image1{
	width: 100%;
	height: 780px;
}
#photo{
	margin-top: 0px;
}
.section{
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	margin-top:200px;
}

@media(max-width: 700px){
	.section{
		width: 100%;
	}
}

.article{
	width: auto;
	height: 450px;
	padding-top: 10px;

}

.article img{
	width: 960px;
	height: 450px;
	float: right;
}

#readmore{
	float:right;
	font-size: 25px;
}

.imagetext{
	margin:0;

	padding:30px;
	background-color: #281E33;
	height: 450px;
}

.imagetext a {
	text-decoration: none;
	display: inline-block;	
	padding: 8px 16px;
}

.imagetext a:hover {
	background-color: #341B41;
	color: white;
}

.previous {
	background-color: #826790;
	color: white;
	cursor: pointer;
}

.next {
	background-color:#826790;
	color: white;
	cursor: pointer;
}

.round {
	border-radius: 50%;
}

.imagetext h1{
	font-size:30px;
	font-family: Bahnschrift Condensed;
	color: white;
}

.imagetext p{
	font-size: 15px;
	color: white;
	font-family: arial;
}

#article0{
	display: block;
}
#article1{
	display: none;
}
#article2{
	display: none;
}

#more {
	display: none;
}
#more1 {
	display: none;
}
#more2 {
	display: none;
}

/*--------------------------------------------------------------------------------*/
.deep{
	width: 70%;
	height: 10px;
	margin-top: 100px;
	margin-left: 15%;
 	margin-right:15%;
	background-color: #281E33;
}
* {
	box-sizing: border-box;
}

/*  COLUMN  (3 IMAGES)------------------------------------------------------------*/

.column {
	float: left;
    width:30%;
 	height: 150px;
 	margin-left: 1.5%;
 	margin-right:1.5%;
 	margin-bottom: 50px;
}

.column h1{
	background-color: #281E33;
	color:white;
	text-align: center;
	margin: auto;
	font-family: Garamond;
	font-size: 35px;
	padding: 15px;
	text-align: center;
}

.row::after {
	content: "";
	clear: both;
	display: table;
	height: 60px;
}

.img{
  	width:100%;
 	height: 350px;
}
.plan{
	margin-left:30px;
}
/*-------------------------------------------------------------------------------*/

/*COPYRIGHT FOTER2  ----------------------------------------------------------------------*/
.copyright{
	background-color: #281E33;
	width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color:white;
}

.copyright p {
	padding-top:10;
}

.copyright #p1{
	width: 50%;
	max-width: 50%;
	display: inline-block;
	margin-top: 0px;
}

.copyright #p2{
	float: right;
	margin-top: 0px;
	text-align:right;
}
/*---------------------------------------------------------------------------------------*/


/*---heading------*/
.beauty_head{
	background-color: none;
	color:black	;
	font-size: 45px;
	text-align: center;
	font-family: Garamond;
	margin-bottom: 80px;

}

/*---Video content------*/
video{
	width: 100%;
}

}
.row{
	height:550px;
}
#i{
	width:250px;
 	height:250px;
 	margin-left:70px;
 	border-radius: 50%;
 	
}
#line{

    margin-top: 100px;
	height: 600px;
	width: 100%;

}
.beauty{
	text-align: left;
	font-size: 60px;
	color:#281E33;
	margin-left:80px;
}
.col {
	float: left;
    width:20%;
 	height: 300px;
 	margin-left:100px;
}