body
{   
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-image:url(../images/smart-security/home.jpg);
    background-size: cover;
    background-position: center;
}
.contact{
    text-align: center;
    padding-top: 50px;
}



.contact-title
{
  margin-top: 80px;
  color:#fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;

}
.contact-title h1{
  font-size: 32px;
  line-height: 10px;
}
.contact-title h2{
  font-size: 16px;
}
form
{
  color:white;
  margin-top: 3px;
  border:2px solid black;
  background-color: rgba(0,0,0,0.8);
  width: 700px;
  margin-left:25%;
  margin-bottom: 100px;
  transition: all 4s ease-in-out; 
}
.form-control
{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}

input
{
  margin-top:15px;
  height: 40px;
}
::-webkit-input-placeholder{
  color: white;
}
form .submit
{
  background-color:white ;
  border-color: transparent;
  color:black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 400px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover{ 
  background: black;

  color:white;
}