body{
  font-family:Garamond;
  margin:0;
  padding:0;
  color:white;
  font-size: 30px;


}
.item{

  font-size:40px;
  color:black;
}
.item h2{
  text-align: center;
}
.item1{
height: 500px;
padding-left: 10%;
padding-right: 10%;
padding-top:10%;

}
.item1 p{
  font-size:30px;
  color:black;
}
.item1 h1{
  color:black;
  font-size:40px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px; 
  font-weight: bold; 
}
.buy{
  width: 180px;
  height: 60px;
  padding: 10px;
  float: left;
  margin-left: 100px;
  background-color: #281E33;
  color: white;
}


.item1_background{
  background-color: #281E33;
}
.item1_background p, .item1_background h1{
    color: white;
}

.item1_background .buy{
  background-color: white;
  float: right;
  margin-right: 100px;
}
.item1_background a{
    color: black;
}